<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Recipe</title>
</head>
<body>
    <h2>Upload a Recipe</h2>
    <form action ="{{ url_for('file_upload') }}" enctype="multipart/form-data" method = "post">
        <input type = "text" name="recipe_name" placeholder="Enter recipe name"><br>
        <input type = "text" name="ingredients" placeholder="Enter ingredients"><br>
        <input type = "text" name="prep_time" placeholder="Enter prep time in minutes"><br>
        <input type = "file" name="recipe_image"><br>
        <button>Add Recipe</button>
        <a href="{{url_for('main_page')}}">Home</a>
    </form>
</body>
</html>